name: Package Application with Pyinstaller

on:
  push:
    branches: [ main ]
    tags: [ '*' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        path: src
        spec: src/build.spec

    - uses: actions/upload-artifact@v2
      with:
        name: "ARAM AutoQueue"
        path: src/dist/windows

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          src/dist/windows/AutoQr.exe
          COPYING